@import "@styles/mixins.css";

@font-face {
  font-family: RecursiveVariable;
  font-weight: 300 1000;
  font-display: swap;
  src: url("/fonts/Recursive_VF_1.085.woff2") format("woff2");
}
@font-face {
  font-family: PiazzollaVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Piazzolla.woff2") format("woff2");
}
@font-face {
  font-family: PiazzollaVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Piazzolla-Italic.woff2") format("woff2");
}

/* CUSTOM: Define your light mode colors here */
@media (prefers-color-scheme: light) {
  :root {
    /* Background colors */
    --background-color: #fff;
    --background-color-nav: rgb(255 255 255 / 70%);
    --background-color-footer: #fff;

    /* Text colors */
    --text-color-title: #020012;
    --text-color-link: #020012;
    --text-color-primary: #3d3d46;
    --text-color-secondary: #666666;

    /* Border styles */
    --border-color-card: #d5d5d5;
    --border-color-nav: #d5d5d5;
    --border-color-link: #c3c3c3;

    /* Misc. colors */
    --icon-color: #020012;
  }
}

/* CUSTOM: Define your dark mode colors here */
@media (prefers-color-scheme: dark) {
  :root {
    /* Background colors */
    --background-color: #000;
    --background-color-nav: rgb(0 0 0 / 70%);
    --background-color-footer: #000;

    /* Text colors */
    --text-color-title: #fff;
    --text-color-link: #fff;
    --text-color-primary: #ababab;
    --text-color-secondary: #777777;
    --text-gradient: linear-gradient(#ffffff, #ffffff 50%, #aeaeae);
    --text-color-purple: #d4bff9;
    --text-color-yellow: #ffe38a;
    --text-color-green: #27ffc2;
    --text-color-blue: #93d9ff;
    --text-color-red: #ff9dba;

    /* Border colors */
    --border-color-card: #242424;
    --border-color-nav: #242424;
    --border-color-link: #323232;

    /* Shadows */
    --shadow-avatar: 0 8px 20px rgb(106 106 106 / 30%);

    /* Misc. colors */
    --icon-color: #fff;
  }
}

/* CUSTOM: Define all other variables here */
:root {
  /* Font families */
  --primary-font: "RecursiveVariable", serif;
  --header-font: "RecursiveVariable", sans-serif;
  --body-text-font: "PiazzollaVariable", serif;
  font-optical-sizing: auto; /* This enables optical sizing for the variable fonts so they look as good as possible at all sizes */

  /* Font sizes */
  --font-size-title: 5rem;
  --font-size-header-large: 3rem;
  --font-size-header: 2rem;
  --font-size-logo: 1.875rem;
  --font-size-primary: 1.125rem;
  --font-size-secondary: 0.875rem;

  @mixin tablet {
    --font-size-title: 8rem;
    --font-size-header-large: 4rem;
    --font-size-header: 2.5rem;
    --font-size-primary: 1.375rem;
    --font-size-secondary: 1.125rem;
  }

  /* Letter spacing */
  --letter-spacing-uppercase: 0.12em;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Font styles */
  --sans-casual-bold-italic: "MONO" 0, "CASL" 1, "wght" var(--font-weight-bold),
    "slnt" -15, "CRSV" 0.5;
  --sans-italic: "MONO" 0, "CASL" 0, "wght" var(--font-weight-regular),
    "slnt" -15, "CRSV" 0.5;
  --sans-casual-bold: "MONO" 0, "CASL" 1, "wght" var(--font-weight-bold),
    "slnt" 0, "CRSV" 0.5;
  --sans-medium: "MONO" 0, "CASL" 0, "wght" var(--font-weight-medium), "slnt" 0,
    "CRSV" 0.5;
  --sans-bold: "MONO" 0, "CASL" 0, "wght" var(--font-weight-bold), "slnt" 0,
    "CRSV" 0.5;
  --sans-black: "MONO" 0, "CASL" 0, "wght" var(--font-weight-black), "slnt" 0,
    "CRSV" 0.5;
  --sans-casual-black: "MONO" 0, "CASL" 1, "wght" var(--font-weight-black),
    "slnt" 0, "CRSV" 0.5;
  --mono: "MONO" 1, "CASL" 0, "wght" var(--font-weight-regular), "slnt" 0,
    "CRSV" 0.5;
  --mono-italic: "MONO" 1, "CASL" 0, "wght" var(--font-weight-regular),
    "slnt" -15, "CRSV" 0.5;
  --mono-medium: "MONO" 1, "CASL" 0, "wght" var(--font-weight-medium), "slnt" 0,
    "CRSV" 0.5;
  --mono-bold: "MONO" 1, "CASL" 0, "wght" var(--font-weight-bold), "slnt" 0,
    "CRSV" 0.5;

  /* Line heights */
  --line-height-header: 1;
  --line-height-subheader: 1.2;
  --line-height-text: 1.5;

  /* Border styles */
  --border-radius-small: 10px;
  --border-radius: 20px;
  --border-radius-rounded: 100px;
  --border-radius-round: 50%;
  --card-border: 1px solid var(--border-color-card);
  --nav-border: 1px solid var(--border-color-nav);
  --link-border: 1px solid var(--border-color-link);

  /* Widths */
  --page-width: 90%;
  --nav-width: 90%;
  --max-width-text: 600px;

  @mixin tablet {
    --page-width: 80%;
    --nav-width: 90%;
    --max-width-text: 700px;
    --max-width-nav: 700px;
  }

  /* Spacers */
  --spacer-very-large: 8rem;
  --spacer-large-plus: 6rem;
  --spacer-large: 4rem;
  --spacer-medium-plus: 3rem;
  --spacer-medium: 2rem;
  --spacer-small: 1rem;
  --spacer-very-small-plus: 0.75rem;
  --spacer-very-small: 0.5rem;

  /* Misc. */
  --background-blur: 50%;
}
