---
import BaseLayout from "@layouts/BaseLayout.astro";
import Img from "@components/Img.astro";
import MaxStormtrooper from "@images/max-with-stormtrooper.jpg";

import { SITE_TITLE, SITE_DESCRIPTION } from "src/consts";
---

<BaseLayout
  metadata={{
    title: SITE_TITLE,
    description: SITE_DESCRIPTION,
  }}
  pageTitle="About me"
>
  <div class="container">
    <Img
      src={MaxStormtrooper}
      alt="Maximilian in London with a stormtrooper"
      class="image"
    />
    <div class="text-container">
      <p>
        First of all: My name is Maximilian von Stephanides. I currently live in
        Oslo, Norway where I work as a software engineer at a fintech scaleup
        called <a href="https://www.dintero.com">Dintero</a>. When I'm not at
        work, you can usually find me at the gym, the kitchen, or the cinema.
      </p>
      <p>
        In addition to my career as a software engineer, I have a strong
        interest in design. I have dedicated a lot of hours to learn more about
        this field and how I can create beautiful and engaging user experiences.
      </p>
      <p>
        For as long as I can remember, I've been fascinated with
        products—digital or otherwise—that not only function well but also look
        aesthetically pleasing. I've long believed in the importance of good
        design in digital products and services, and the effect it can have on
        the user experience.
      </p>
      <p>
        The longer I've been actively using and developing digital experiences,
        the more I've come to realize that <span class="italic">simplicity</span
        > is the key to achieving a good design. This is especially true in the current
        landscape of the web, where something is competing for your attention seemingly
        all the time.
      </p>
      <p>
        Due to these reasons, I strongly emphasize simplicity and aesthetics
        when developing digital experiences. Together with the actual content
        and functionality, I believe these factors form the core of a good
        digital experience.
      </p>
      <p>
        My design interest together with my computer science education and
        engineering experience allow me to create beautiful, accessible, simple,
        and intuitive digital products that stand out.
      </p>
    </div>
  </div>
</BaseLayout>

<style>
  @import "@styles/mixins.css";

  .container {
    @mixin centered-container;
    flex-flow: column nowrap;
  }

  .image {
    margin-bottom: var(--spacer-medium);
    max-width: var(--max-width-text);
  }

  .text-container {
    @mixin text-container var(--spacer-medium), var(--max-width-text);
    font-family: var(--body-text-font);
  }

  .italic {
    font-style: italic;
  }
</style>
