---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
  alt: string;
  class: string;
}

const { src, alt, class: className, ...rest } = Astro.props;
---

<div class:list={["image-container", className]} {...rest}>
  <Image src={src} alt={alt} />
</div>

<style>
  @import "src/styles/mixins.css";

  .image-container {
    border-radius: var(--border-radius);
    overflow: hidden;
    height: 300px;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
