---
import { Icon } from "astro-icon/components";

interface Props {
  url: string;
  icon: string;
  newTab?: boolean;
}

const { url, icon, newTab } = Astro.props;

const getTarget = () => {
  return newTab ? "_blank" : "_self";
};
---

<a href={url} target={getTarget()}>
  <Icon name={icon} />
</a>

<style>
  @import "@styles/mixins.css";

  a {
    @mixin centered-container;
    text-decoration: none;
    border: var(--link-border);
    border-radius: var(--border-radius-small);
    padding: var(--spacer-very-small-plus);
  }

  [data-icon] {
    color: var(--icon-color);
    font-size: 24px;
  }
</style>
