---
interface Props {
  url: string;
  text: string;
  newTab?: boolean;
  class?: string;
}

const { url, text, newTab, class: className, ...rest } = Astro.props;

const getTarget = () => {
  return newTab ? "_blank" : "_self";
};
---

<a class={className} href={url} target={getTarget()} {...rest}>{text}</a>

<style>
  @import "@styles/mixins.css";

  a {
    font-size: var(--font-size-secondary);
    text-decoration: none;
    color: var(--text-color-primary);
  }
</style>
