---
interface Props {
  url: string;
  text: string;
  newTab?: boolean;
}

const { url, text, newTab } = Astro.props;

const getTarget = () => {
  return newTab ? "_blank" : "_self";
};
---

<a href={url} target={getTarget()}>{text}</a>

<style>
  @import "@styles/mixins.css";

  a {
    font-size: var(--font-size-secondary);
    text-decoration: none;
    color: var(--text-color-primary);
  }
</style>
